body {
    background-color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    font-size:0.9em;
}

h2, h4, h3 {
    padding:0;
    margin:0;
}

.content {
    padding:0;
    margin:0;
    margin-left:8%;
    width:90%;
    margin-top:20px;
}

#spacer20 {
    clear:both;
    height:20px;
}

#spacer5 {
    clear:both;
    height:10px;
}

/* NAVIGATION */

.navigation {
    width:7%;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    background-color:#bfcfba;
    vertical-align:middle;
}


.navigation ul {
    list-style-type:none;
    padding:0;
    margin:0;
    font-size:2.5em;
    text-align:center;
    margin-top:100%;
}

.navigation li {
    padding: 10px 0;
}

.navigation a {
    color:#222;
}

.navigation a:hover {
    color:#fff;
}

.navigation a:active {
    text-decoration:underline;
}


/* RIGHT SIDE BAR */

.rightsidebar {
    position:fixed;
    right:0px;
    top:0px;
    width:20%;
    height:100%;
    background-color:#eee;
}

.innerrightsidebar {
    margin-top:20%;
    margin-left:10px;
}

.rightsidebar ul {
    list-style:none;
    padding:10px;
    margin:0;
}

.rightsidebar li {
    margin-bottom: 10px;
    margin-left:5px
} 

.rightsidebar .artist {
    font-style:italic;
}

.rightsidebar li i {
    font-size:0.7em;
}


/* STATUS BAR */

.statusbar input[type=submit] {
    background-color:#222;
    color:#fff;
    border:none;
    padding:7px 10px;
    cursor:pointer;
    margin-left:5px;
    border-radius:2px;
}

#text_status {
    width:90%;
    margin:5px 0;
    padding:5px;
}

.media_input input[type=text] {
    padding:5px;
    float:left;
    margin-left:5px;
}

.statusbar select[name=option] {
    padding:5px 0px;
    cursor:pointer;
    position:relative;
    float:left;
}

.statusbar input[type=submit]:hover {
    background-color:#bfcfba;
}

#song, #artist, #album, #playlist {
    display:none;
}

.statusbar {
    margin:auto;
    width:95%;
}

.middle {
    width:75%;
}

/* TIMELINE */

.timeline {
    padding:0;
    margin:0;
}

.timeline ul {
    width:100%;
    list-style-type:none;
    padding:0;
    margin:0;
}

.timeline li {
    list-style-type:none;
}

/* POSTS */

.post {
    background-color:#fff;
    padding:20px 10px;
    margin:0;
    border-bottom:1px solid #999;
}

.post .username {
    font-weight:bold;
}

.post .time {
    opacity:0.7;
    float:left;
}

.pfp img {
    width:40px;
    float:left;
    margin-right:5px;
    border-radius:50%;
}

.post .username {
    line-height:0px;
}

.album_art {
    float:left;
    width:110px;
    padding-right:5px;
    padding-bottom:5px;
}

.postmusic {
    background-color:#cee0c8;
    width:95%;
    margin:auto;
    border-radius: 5px;
    overflow:visible;
    min-height:110px;
    padding:10px;
}

.postmusic span {
    font-size:1.1em;
}

.post .text {
    padding: 0 10px;
}


audio {
    width:100%;
    margin:auto;
    margin-top:10px;
}

/* COMMENTS */

.commentsSection {
    clear:both;
    max-height: 200px;
    float: left;
    width:100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    background: #fff;
}

.commentsSection input[type=submit] {
    background-color:#222;
    color:#fff;
    border:none;
    padding:7px 10px;
    cursor:pointer;
    margin-left:5px;
    border-radius:2px;
}

.commentsSection input[type=text] {
    margin:5px 0;
    padding:5px;
    width:70%;
}


.comment {
    border-bottom: 1px solid gray;
    padding-left: 10px;
}


/* TICKETS */

.page {
    text-align:center;
    margin:auto;
}

.page input[type=text] {
    padding:5px;
    margin:5px;
}

.page input[type=submit] {
    background-color:#222;
    color:#fff;
    border:none;
    padding:7px 10px;
    cursor:pointer;
    margin-left:5px;
    border-radius:2px;
}

.page input[type=submit]:hover {
    background-color:#bfcfba;
}

.eventItem {
    width:80%;
    margin:auto;
    border-bottom: 1px solid #000;
    background-color:#fff;
    overflow:visible;
    min-height:80px;
    padding: 10px 0;
    text-align:left;
}

.eventItem .title{
    font-weight:bold;
}

.eventItem .location{
    opacity:0.7;
}

.eventItem .datetime{
    opacity:0.7;
}

.eventItem .image {
    float:left;
    width:110px;
    padding:0px 5px;
}

.eventItem .buyLink {
    background-color:#222;
    color:#fff;
    border:none;
    padding:7px 10px;
    cursor:pointer;
    margin-left:5px;
    border-radius:2px;
    float:right;
}

.eventItem .buyLink:hover {
    background-color:#bfcfba;
}

.pageItem {
    border: 1px solid #476e3b;
    padding: 2px;
    width:15px;
    hight:15px;
    background-color:white;
    text-align: center;
    list-style-type: none;
    display: inline-block;
}

.eventsPages {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

/* PROFILE PAGE */

.artistList li {
    display: inline;
    float: left;
    padding:40px;
}

.trackList li {
    display: inline;
    float: left;
    padding:40px;
}

/* LOGIN page */

.loginpage {
    margin:auto;
    width:100%;
}

.spotifybutton {
    margin:auto;
    padding:20px;
    background-color:green;
    border-radius:15px;
    border:2px solid #111;
    color:#fff;
    cursor:pointer;
}
