.statusbar input[type=submit] {
    background-color:#222;
    color:#fff;
    border:none;
    margin:5px;
    padding:5px 10px;
}

.statusbar input[type=text] {
    margin:5px;
    padding:5px;
    width:40%;
}

.timeline {
    position:relative;
    width:50%;
    margin-left:20%;
}

.timeline ul {
    list-style:none;
    padding-left:0;
    
}

.timeline li {
    padding:5px;
    margin-bottom:20px;
    background-color:#f1f1f1;
    list-style-type:none
}

.post .username {
    font-weight:bold;
}

.post .time {
    opacity:0.7;
}

.page {
    padding-left: 50px;
}

.rightsidebar {
    float:right;
    width:20%;
}

.innerrightsidebar {
    max-width:100%;
    position: fixed;
    height:100%;
    right:25px;
    top:25px;
}

.innernavigation {
    position: fixed;
    height:100%;
    left:25px;
    top:25%;
}

.rightsidebar ul {
    list-style:none;
    padding-left:10px;
    max-width:100%;
}

.rightsidebar li {
    margin-bottom: 10px;
} 

.commentsSection {
    max-height: 200px;
    float: left;
    min-width: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    background: white;
}

.iconsContainer {
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center
}

.comment {
    border-bottom: 1px solid gray;
    padding-left: 10px;
}

.loginpage {
    margin:auto;
    width:100%;
}

.spotifybutton {
    margin:auto;
    padding:20px;
    background-color:green;
    border-radius:15px;
    border:2px solid #111;
    color:#fff;
    cursor:pointer;
}

.pfp img {
    width:40px;
    float:left;
    margin-right:5px;
    border-radius:50%;
}

.album_art {
    float:left;
    width:75px;
    padding-right:5px;
    padding-bottom:5px;
}

.postmusic {
    background-color:#aaa;
    width:90%;
    margin:auto;
    padding:10px;
    border-radius: 5px;
}

audio {
    width:90%;
    margin:auto;
}

#song, #artist, #album, #playlist {
    display:none;
}