body {
    background-color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    font-size:0.9em;
    width:100%;
    height:100%;
}

h2, h4, h3 {
    padding:0;
    margin:0;
}

a {
    text-decoration:none;
    color:#111;
}

a:hover {
    color:#fff;
}

.content {
    padding:0;
    margin:0;
    margin-left:8%;
    width:90%;
    margin-top:20px;
}

#spacer20 {
    clear:both;
    height:20px;
}

#spacer5 {
    clear:both;
    height:10px;
}

/* NAVIGATION */

.navigation {
    width:7%;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    background-color:#bfcfba;
    vertical-align:middle;
}


.navigation ul {
    list-style-type:none;
    padding:0;
    margin:0;
    font-size:2.5em;
    text-align:center;
    margin-top:100%;
}

.navigation li {
    padding: 10px 0;
}

.navigation a {
    color:#222;
}

.navigation a:hover {
    color:#fff;
}

.navigation a:active {
    text-decoration:underline;
}

.aboutlink {
    position:fixed;
    bottom:3%;
    left: 3%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* RIGHT SIDE BAR */

.rightsidebar {
    position:fixed;
    right:0px;
    top:0px;
    width:20%;
    height:100%;
    background-color:#eee;
}

.innerrightsidebar {
    margin-top:20%;
    margin-left:10px;
}

.rightsidebar ul {
    list-style:none;
    padding:10px;
    margin:0;
}

.rightsidebar li {
    margin-bottom: 10px;
    margin-left:5px
} 

.rightsidebar .artist {
    font-style:italic;
}

.rightsidebar li i {
    font-size:0.7em;
}


/* STATUS BAR */

.statusbar input[type=submit] {
    background-color:#222;
    color:#fff;
    border:none;
    padding:7px 10px;
    cursor:pointer;
    margin-left:5px;
    border-radius:2px;
}

#text_status {
    width:90%;
    margin:5px 0;
    padding:5px;
}

.media_input input[type=text] {
    padding:5px;
    float:left;
    margin-left:5px;
}

.statusbar select[name=option] {
    padding:5px 0px;
    cursor:pointer;
    position:relative;
    float:left;
}

.statusbar input[type=submit]:hover {
    background-color:#bfcfba;
}

#song, #artist, #album, #playlist {
    display:none;
}

.statusbar {
    margin:auto;
    width:95%;
}

.middle {
    width:75%;
}

/* TIMELINE */

.timeline {
    padding:0;
    margin:0;
}

.timeline ul {
    width:100%;
    list-style-type:none;
    padding:0;
    margin:0;
}

.timeline li {
    list-style-type:none;
}

/* POSTS */

.post {
    background-color:#fff;
    padding:20px 10px;
    margin:0;
    border-bottom:1px solid #999;
}

.post .username {
    font-weight:bold;
}

.post .time {
    opacity:0.7;
    float:left;
}

.pfp img {
    width:40px;
    float:left;
    margin-right:5px;
    border-radius:50%;
}

.post .username {
    line-height:0px;
}

.album_art {
    float:left;
    width:110px;
    padding-right:5px;
    padding-bottom:5px;
}

.postmusic {
    background-color:#cee0c8;
    width:95%;
    margin:auto;
    border-radius: 5px;
    overflow:visible;
    min-height:110px;
    padding:10px;
}

.postmusic span {
    font-size:1.1em;
}

.artistList li {
    display: inline;
    float: left;
    padding:40px;
}

.post .text {
    padding: 0 10px;
}


.tabsArtist li{
    display: inline-block;
    border: 4px solid gray;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

audio {
    width:100%;
    margin:auto;
    margin-top:10px;
}

/* COMMENTS */

.commentsSection {
    clear:both;
    max-height: 200px;
    float: left;
    width:100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    background: #fff;
}

.commentsSection input[type=submit] {
    background-color:#222;
    color:#fff;
    border:none;
    padding:7px 10px;
    cursor:pointer;
    margin-left:5px;
    border-radius:2px;
}

.commentsSection input[type=text] {
    margin:5px 0;
    padding:5px;
    width:70%;
}


.comment {
    border-bottom: 1px solid gray;
    padding-left: 10px;
}


/* TICKETS */

.page {
    text-align:center;
    margin:auto;
}

.page input[type=text] {
    padding:5px;
    margin:5px;
}

.page input[type=submit] {
    background-color:#222;
    color:#fff;
    border:none;
    padding:7px 10px;
    cursor:pointer;
    margin-left:5px;
    border-radius:2px;
}

.page input[type=submit]:hover {
    background-color:#bfcfba;
}

.eventItem {
    width:80%;
    margin:auto;
    border-bottom: 1px solid #000;
    background-color:#fff;
    overflow:visible;
    min-height:80px;
    padding: 10px 0;
    text-align:left;
}

.eventItem .title{
    font-size:1em;
    font-family: 'Comfortaa', cursive;
    font-weight:700;
}

.eventItem .location{
    opacity:0.7;
}

.eventItem .datetime{
    opacity:0.7;
}

.eventItem .image {
    float:left;
    width:110px;
    padding:0px 5px;
}

.eventItem .buyLink {
    background-color:#222;
    color:#fff;
    border:none;
    padding:7px 10px;
    cursor:pointer;
    margin-left:5px;
    border-radius:2px;
    float:right;
}

.eventItem .buyLink:hover {
    background-color:#bfcfba;
}

.pageItem {
    border: 1px solid #476e3b;
    padding: 2px;
    width:15px;
    hight:15px;
    background-color:white;
    text-align: center;
    list-style-type: none;
    display: inline-block;
}

.eventsPages {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

/* PROFILE PAGE */

.user_info{
    font-family: 'Comfortaa', cursive;
}

#f-button{
  background-color: #99D5A2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  top: 50px;
}

.followers{
    font-size: 24px;
    background: #AAE9B4;
    margin: 5px;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    list-style-type: none;
}
.artList li {
    display: inline;
    float: left;
    padding:40px;
}

.trackList li {
    display: inline;
    float: left;
    padding:40px;
}

.song_art {
    float:left;
    margin-left:20px;
}

.song_info {
    float:left;
    margin-left:20px;
    position: relative;
    top: 40px; 
    left: 20px;
    font-family: 'Comfortaa', cursive;
}

.top_artist_title{
    float:left;
    margin-left:20px;
    /*left: 40px;*/
    font-family: 'Comfortaa', cursive;
}

.curr_song{
    font-family: 'Comfortaa', cursive;
}

.tabsUser li{
    display: inline-block;
    border: 50px transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}
/* LOGIN page */

.loginpage {
    width:100vw;
    height:100vh;
    background-image:url('./background.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity:0.75;
}

.loginblock {
    width:100vw;
    height:100vh;
    color:#fff;
    opacity:1;
    background-color: rgba(0,0,0,0.2);
    text-align:center;
}

.loginblock h1 {
    font-family: 'Comfortaa', cursive;
    font-weight:700;
    font-size:4em;
    padding-top:10%;
}

.spotifybutton {
    margin:0;
    padding:20px;
    background-color:#1ED760;
    border-radius:15px;
    color:#fff;
    cursor:pointer;
    text-align:center;
    width:200px;
    border:none;
    font-size:1.3em;
    font-weight:bold;
}

.spotifybutton:hover {
    background-color:#86cc70;
}

.landinglink {
    position:fixed;
      bottom: 5%;
      left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.landinglink a {
    font-size:1.5em;
    color:#fff;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
}

.landinglink a:hover {
    color:#1ED760;
}


/* LANDING */
.landing {
    width:100%;
    margin:auto;
    text-align:center;
}

.heading {
    height: 100%;
    width:100%;
    background-color:#bfcfba;
}

.landing .title {
    font-family: 'Comfortaa', cursive;
    font-weight:700;
    font-size:6em;
    padding-top:15%;
}

.heading ul {
    font-size:1.5em;
}

.landing button {
    background-color:transparent;
    border:none;
    font-size:3em;
    margin-top:50px;
    cursor:pointer;
}

.contentlanding {
    height: 100%;
    width:100%;
    background-color:#fff;
}

.landing .link {
    margin-top:30px;
}

.landing .link a {
    background-color:#1ED760;
    color:#fff;
    padding:15px 15px;
    width:200px;
    margin:auto;
    text-decoration:none;
    font-size:1.3em;
}

.landing .link a:hover {
    background-color:#111;
}

.product {
    font-size:1.2em;
}

.product ul li {
    padding:10px 0px;
    font-size:1.5em;
}

.tech ul li {
    font-size:1.3em;
}

.landing ul, .landing li {
    list-style-type:none;
    padding:0;
    margin:0;
    text-align:center;
}
